@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }
  ul,
  li,
  ol {
    list-style: none;
  }
  a {
    display: inline-block;
    text-decoration: none;
  }
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div,
  img,
  ul,
  ol,
  li {
    margin: 0;
    padding: 0;
  }
}
:root {
  --navbar_color: #03dac6;
  --white_text_color: #ffff;
  --custom_color: #005572;
  --black_color: #000000;
  --left_ani_Bgcolor: #0e2b35;
  --ani_text_color: #03dac6;
  --expertise_bg_color: #1e1e1e;
  --cart_color: #3d3b3bc3;
  --Industry_bg_color: #e0e0e0;

  --open_sans: "Open Sans", sans-serif;
}
